.button {
	padding: 10px 22px;
	border-radius: 12px;
	border: none;
	background-color: var(--c-success);
	color: var(--c-white);
}

.button:hover {
	background-color: var(--c-success-hover);
}

.button:before {
	background-color: url(../img/tri.png);
	width: 20px;
}